*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: #efefef;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    background: #1876f2;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
    /* justify-content: center; me added */
}

.logo{
    width: 160px;
    margin-right: 45px;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}

.nav-user-icon{
    margin-left: 30px;
}

.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img{
    width: 18px;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.online{
    position: relative;
}

.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.main-content{
    flex-basis: 47%;
}

.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child{
    color: #1876f2;
}

.imp-links{
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p{
    margin: 25px 0;
    font-weight: 500;
    color: #626262;
}

.right-sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.right-sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}

.right-sidebar-title a{
    text-decoration: none;
    font-size: 12px;
    color: #1876f2;
}

.events{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.event-left-column{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.events p{
    font-size: 12px;
}

.events a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.event-left-column span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color:#fff;
    font-size: 10px;
    padding: 4px 0;
}

.right-sidebar-ad{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img{
    width: 40px;
    border-radius: 50%;
}

.online-list .online{
    /* width: 40px;
    border-radius: 50%; */
    margin-right: 15px;
}

.online-list .online::after{
    top: unset;
    bottom: 5px;
}

.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story{
    flex-basis: 18%; /*16:9 ration. So, 16/9= 1.777.... then, 1.777...*18(as width 18%)= 32 So height=32 */
    padding-top: 32%; /* instead of height here padding-top has used.*/
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2
}

.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story1{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../images/status-1.png);
}
.story2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../images/status-2.png);
}
.story3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../images/status-3.png);
}
.story4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../images/status-4.png);
}
.story5{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(../images/status-5.png);
}

.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}

.write-post-container{
    width: 100%;
    background: #fff;
    color: #626262;
    padding: 20px;
    border-radius: 6px;
    /* box-shadow: 2px 2px 8px #626262; */
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    color:#626262;
    font-weight: 500;
}

.user-profile small{
    font-size: 12px;
}

.post-input{
    padding-left: 55px;
    padding-top: 20px;
}

.post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    resize: none;
    padding: 20px;
}

.post-options{
    display: flex;
    margin-top: 10px;
}

.post-options a{
    text-decoration: none;
    color:#626262;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.post-options a img{
    width: 20px;
    margin-right: 10px;
}

.post-container{
    width: 100%;
    background-color: #fff;
    color: #626262;
    border-radius: 6px;
    padding: 20px;
    margin: 20px 0;
}

.user-profile .post-time{
    color: #9a9a9a;
    font-size: 13px;
}

.post-text{
    font-size: 15px;
    color: #9a9a9a;
    margin: 15px 0;
}

.post-text span{
    color: #626262;
    font-weight: 500;
}

.post-text a{
    color: #1876f2;
    text-decoration: none;
}

.post-image{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post-activity-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-activity-icon div img{
    width: 20px;
    margin-right: 10px;
}

/* .post-activity-icon div{
    display: flex;
    align-items: center;
}

.post-activity-icon{
    display: flex;
} instead of these we can write: */

.post-activity-icon div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.post-profile-icon{
    display: flex;
    align-items: center;
}

.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-ellipsis{
    color: #9a9a9a;
}

.load-more-button{
    display: block;
    margin: auto;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
    padding: 5px 10px;
    background: transparent;
    color: #626262;
    cursor: pointer;
}